html {
  margin: 0;
  width:100%;
  height:100%;
}

body {
  margin: 0;
  width:100%;
  height:100%;
}

.fm_video {
  background-color: #140a00;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fm_video video{
  max-height:720px;
  max-width:1028px;
}
