:root {
  --black-color: #1b1b1b;
  --grey-color: #8d8d8d;
  --grey-dark-color: #707070;
  --green-color: #00c853;

  --text-small: 14px;
  --text-medium: 18px;
  --text-large: 23px;

  --padding: 20px;
}
body {
  background-color: #abc0d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
.statusBar {
  display: flex;
  justify-content: space-between;
  font-size: var(--text-medium);
  color: #373737;
  padding: 3px 26px;
  background-color: #8698a6;
}

.statusBar .icons i {
  font-size: 15px;
}

.menu {
  margin: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .friend {
  font-size: var(--text-large);
}

.menu > .icons {
  font-size: 24px;
}

.menu > .icons i {
  margin-left: 24px;
}

.chattingRoom {
  padding: 0 15px;
}
.chattingRoom .you {
  display: flex;
}

.chattingRoom .you .time {
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  font-size: 11px;
}

.chattingRoom .you img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 10px;
}

.chattingRoom .you .chatting {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.chattingRoom .you .chatting .chat {
  padding: 7px;
  margin-top: 5px;
  background-color: white;
  border-radius: 4px;
  font-size: 13px;
}

.chattingRoom .me {
  display: flex;
  justify-content: flex-end;
}

.chattingRoom .me > .chat {
  padding: 7px;
  margin-top: 5px;
  background-color: #fee500;
  border-radius: 4px;
  font-size: 13px;
}
.chattingRoom .me > .time {
  margin-right: 5px;
  display: flex;
  align-items: flex-end;
  font-size: 11px;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: white;
}

.searchBar i {
  color: #8d8d8d;
}

.searchBar .search {
  display: flex;
  align-items: center;
}

.searchBar .search i {
  margin-right: 10px;
}

.searchBar .search input {
  height: 25px;
  width: 100%;
}

.searchBar i {
  font-size: 25px;
}

.bigScreen {
  display: none;
}

@media screen and (min-width: 510px) {
  .statusBar {
    display: none;
  }
  .menu {
    display: none;
  }
  .chat {
    display: none;
  }
  .bottom {
    display: none;
  }
  .chattingRoom {
    display: none;
  }
  .searchBar {
    display: none;
  }
  .bigScreen {
    height: 100vh;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }

  body {
    background-color: darkgoldenrod;
  }
}
